*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.area{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userLogin, .userRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 1px 5px 1px black;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.userLogin button, .userRegister button{
    margin-top: 20px;
}
.userLogin p, .userRegister p{
    margin: 5px;
}
header{
    padding-top: 10px;
    padding-left: 10px;
    background-color: orange;
    color: white;
}
header h1{
    font-size: 30px;
}
button{
    cursor: pointer;
    z-index: 1;
}
.areaBts{
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(214, 139, 0);
    margin-left: -10px;
    justify-content: center;
    overflow: visible;
}
.main-button{
    height: 40px;
    width: 100px;
    margin-top: 40px;
    border: none;
    color: white;
    box-shadow: -1px 1px 5px 0px  black;
    background-color: rgb(253, 112, 56);
}
header button{
    background-color: rgba(214, 139, 0, 0);
    height: 40px;
    border: none;
    color: white;
    padding: 5px;
    width: 100px;
    height: 36px;
}
.selectAreaBt{
    z-index: 0;
    position: absolute;
    height: 34px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.199);
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-left: -300px;
    transition: all 0.5s;
}
section{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div{
    margin-top: -40px;
    box-shadow: -1px 1px 5px 0px  black;
    padding: 30px;
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
}
section div div{
    display: flex;
    flex-direction: column;
    box-shadow: none;
    margin: 20px;
    align-items: center;
}
.table-list{
    height: 30vh;
    width: 20vw;
    padding: 0;
    margin: 0;
    box-shadow: -1px 1px 5px 0px  black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

}
.buyInfo{
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: -30px;
}
.finalizeSaleBt{
    
}
.q1{
    margin-left: 20px;
}
.q2{
    width: 7vw;
    margin-left: 20px;
}
.list-item{
    margin: 0;
    border-bottom: 2px solid black;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
    position: relative;
}
.list-item p{
    margin-left: 10px;
}
.list-item button{
    margin: 0;
    position: absolute;
    margin-left: 130px;

    border: none;
    color: white;
    box-shadow: -1px 1px 5px 0px  black;
    background-color: rgb(253, 112, 56);
    padding: 10px;
}
button:hover{
    opacity: 0.9;
}
.infoDiv{
    position: absolute;
    display: none;
    height: 70vh;
    width: 70vw;
    flex-direction: column;
    margin-top: -85vh;
    margin-left: 15vw;
    background-color:rgb(255, 255, 255);
    box-shadow: -1px 1px 5px 0px  black;
    z-index: 2;
    border-radius: 5px;
}
.infoDiv p{
    margin-left: 40px;
}
.infoDiv button{
    height: 5vh;
    width: 5vh;
    position: absolute;
    right: 0;
    background-color: rgb(253, 112, 56);
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
}