*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
header{
    padding-top: 10px;
    padding-left: 10px;
    background-color: orange;
    color: white;
}
header h1{
    font-size: 40px;
}
button{
    cursor: pointer;
    z-index: 1;
}
.areaBts{
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(214, 139, 0);
    margin-left: -10px;
    justify-content: center;
    overflow: visible;
}
header button{
    background-color: rgba(214, 139, 0, 0);
    height: 40px;
    border: none;
    color: white;
    padding: 5px;
    width: 100px;
    height: 36px;
}
.selectAreaBt{
    z-index: 0;
    position: absolute;
    height: 34px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.199);
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-left: -200px;
    transition: all 0.5s;
}
section{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div{
    box-shadow: -1px 1px 5px 0px  black;
    padding: 30px;
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
}
section div div{
    display: flex;
    flex-direction: column;
    box-shadow: none;
    margin: 20px;
    align-items: center;
}
.table-list{
    height: 30vh;
    width: 20vw;
    margin: 0;
    box-shadow: -1px 1px 5px 0px  black;

}
.buyInfo{
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: -30px;
}
.finalizeSaleBt{
    height: 40px;
    width: 100px;
    margin-top: 40px;
    border: none;
    color: white;
    box-shadow: -1px 1px 5px 0px  black;
    background-color: rgb(253, 112, 56);
}
.q1{
    margin-left: 20px;
}
.q2{
    width: 7vw;
    margin-left: 20px;
}